.modal {
  width: 650px;
  border: 1px solid var(--color-border-primery);
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  z-index: 111;

  &.open {
    display: block;
  }
}


.modalTitle {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--color-border-primery);
  padding: 20px 25px;
}

.btnClose {
  position: absolute;
  right: 15px;
  top: 15px;
}

.modalForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 600px;
  padding: 15px;
  //border: 1px solid #000;

  .label {
    margin-bottom: 10px;
    color: #000;
  }

  .input {
    margin-bottom: 15px;
    padding: 0 10px;
    height: 45px;
    border: 1px solid var(--color-border-primery);
    border-radius: 4px;
  }

  .inputEndDate {
    @extend .input;
    margin-bottom: 75px;
  }

}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--color-border-primery);
  padding: 20px;

}

.btn {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  border-radius: 4px;
  //:hover{
  //  color: red;
  //}
}

.btnSave {
  @extend .btn;
  margin-left: 10px;
  color: var(--color-btn-secondary);
  background-color: var(--color-bg-secondary);
}

