:root {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
color: var(--color-text-primery);



  --color-border-primery: #8080807F;
  --color-btn-secondary: #fff;
  --color-btn-disabled: #808080CC;
  --color-bg-secondary: #00f;
  --color-text-primery: #000;
  --color-text-secondary: #808080BF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 100vh;

}

// reset styles
button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}




